.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  color: #fff;
  background-color: #509E2F;
  border-color: #63666A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #115E67;
  border-color: #63666A;
}

a {
  color: #509E2F;
}
