@import url('https://fonts.googleapis.com/css?family=Dosis:500|Lato:300');
* {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Dosis', sans-serif;
  background: #F3904F;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #3B4371, #F3904F);
  background: -o-linear-gradient(left, #3B4371, #F3904F);
  background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25vh
}

.form-signin {
  width: 25vw;
  padding: 15px;
  margin: 0 auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  color: #fff;
  background-color: #509E2F;
  border-color: #63666A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #115E67;
  border-color: #63666A;
}

a {
  color: #509E2F;
}
