@import url('https://fonts.googleapis.com/css?family=Dosis:500|Lato:300');
* {
  font-family: 'Lato', sans-serif;
}

body{
  font-family: 'Dosis', sans-serif;
  background: #546E7A !important;
}

.footer {
  position: relative;
  bottom: 25px;
  text-align: center;
  width: 100vw;
  color: #CFD8DC;
}

.rc-menu {
  border: 1px solid #d9d9d9;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.login-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25vh
}

.form-signin {
  background: #B0BEC5 !important;
  width: 25vw;
  padding: 25px;
  margin: 0 auto;
}

.form-logo {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 4rem;
  color: white;
}

.form-submit {
  width: 100%;
  padding: 20px; 
  color: white;
  font-size: 2rem; 
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.z1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  color: #fff;
  background-color: #509E2F;
  border-color: #63666A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #115E67;
  border-color: #63666A;
}

a {
  color: #509E2F;
}
